.bi-agency-select {
  padding-top: 40px;
  padding-bottom: 30px;
  width: 100%;
  min-height: 100vh;
  background-color: #022d25;
  position: relative;

  &__logo {
    width: 180px;
    height: auto;
    padding-bottom: 10px;

    img {
      width: 100%;
      height: auto;
    }
  }
  &__close {
    position: absolute;
    top: 12px;
    right: 14px;
    width: 18px;
    img {
      width: 100%;
    }
  }
  &__wrap {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 30px 0 50px 0;
    border-radius: 10px;
    padding: 36px 40px 60px;
    background-color: #fff;
    min-height: 340px;
  }

  &__inner {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 20px;
  }

  &__sign-in {
    width: 50%;
    padding-right: 20px;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      background-color: #54565abd;
      width: 1px;
      height: 80%;
      top: 10%;
      right: -5%;
    }

    .bi-btn {
      display: block;
      text-align: center;
      color: var(--primary-clr);
      width: 100%;
      border: 0;
      padding: 10px 0;
      cursor: pointer;
    }

    .bi-input label {
      color: var(--primary-clr);
      font-weight: 500;
      font-size: 16px;
    }
    
    .bi-agency-select__title {
      margin-bottom: 10px;
    }
  }
  .bi-input {
    span {
      color: var(--primary-clr);
      padding-bottom: 10px;
    }
  }
  .bi-input input {
    border-radius: 4px !important;
    padding: 10px 12px !important;
    margin-top: 10px;
  }
  &__sign-up {
    width: 50%;

    p {
      // width: 85%;
      color: #000;
      font-weight: 700;
      text-align: center;
      margin-bottom: 0;
      padding: 0 34px;
    }

    .bi-btn {
      color: var(--primary-clr);
      margin: 0;
      // font-weight: 600;

      &.otpbtn {
        width: 100%;
        margin-bottom: 20px;
        padding: 10px 0;
        font-weight: 300;
      }
    }

    h5 {
      color: #000;
      font-weight: 500;
      text-align: center;
      margin-bottom: 10px;
      
      
      a {
        position: relative;
        font-weight: 500;
        color: var(--primary-clr);

        &::after {
          content: "";
          background-color: var(--secondary-clr);
          width: 100%;
          height: 2px;
          position: absolute;
          bottom: -1px;
          left: 0;
        }
        &:hover{
          &::after{
            width: 0;
          }
        }
        
      }
    }
  }

  &__step {
    margin-bottom: 25px;
  }

  &__title {
    margin-bottom: 20px;

    h3 {
      font-family: "Boehringer Forward Text";
      font-size: 25px;
      line-height: 35px;
      font-weight: 600;
      color: var(--primary-clr);
      text-align: center;
      margin-bottom: 30px;
      text-transform: unset;
    }

    h4 {
      font-family: "Boehringer Forward Text";
      color: var(--primary-clr);
      text-align: center;
      font-size: 22px;
      font-weight: 600;
      margin-bottom: 12px;
    }

    p {
      color: var(--primary-clr);
      text-align: center;
      font-weight: 400;
      margin-bottom: 15px;
      margin: 0 auto;
      text-align: center;

      a {
        color: var(--primary-clr);
        font-weight: 500;
        position: relative;
        &::after {
          content: "";
          background-color: var(--secondary-clr);
          width: 100%;
          height: 2px;
          position: absolute;
          bottom: -1px;
          left: 0;
        }
        &:hover{
          &::after{
            width: 0;
          }
        }
      }
    }
  }

  &__cnt {
    color: var(--primary-clr);
    margin-bottom: 15px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
  }

  &__captcha {
    width: 100%;
    margin: 16px 0px 10px;

    img {
      width: 100%;
      height: auto;
    }
  }

  h6 {
    color: #fff;
    position: absolute;
    bottom: 20px;

  }

  .bi-heading {
    color: #fff;
  }

  &__otp {
    background-color: var(--primary-clr);
    border: 1px solid var(--primary-clr);
    text-align: center;
    padding: 5px 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    color: #fff;
  }
  .bi-otppara {
    p {
      a {
        position: relative;
        &::after {
          content: "";
          background-color: var(--secondary-clr);
          width: 100%;
          height: 2px;
          position: absolute;
          bottom: 0;
          left: 0;
        }
        &:hover{
          &::after{
            width: 0;
          }
        }
      }
    }
  }
  .bi-otppara {
    text-align: center;
    margin-bottom: 26px;
    h4 {
      color: var(--primary-clr);
    }
  }
}

@include tablet {
  .bi-agency-select {
    &__inner {
      gap: 10px;
    }

    &__title {
      h4 {
        font-size: 18px;
      }
    }

    .bi-btn {
      font-size: 13px;
      margin-left: 0;
    }
  }
}

@include mobile {
  .bi-agency-select {
    &__wrap {
      flex-direction: column;
      padding: 30px 20px;
    }

    &__sign-in {
      width: 100%;
      padding-right: 0;

      &::after {
        width: 85%;
        height: 1px;
        top: auto;
        right: auto;
        bottom: -15px;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &__sign-up {
      width: 100%;
    }

    &__inner {
      gap: 10px;
    }

    &__title {
      h4 {
        font-size: 18px;
      }
    }

    .bi-btn {
      font-size: 13px;
      margin-left: 0;
    }
  }
}
