.bi-order {
    background-color: #f6f5f3;
    padding: 32px 0;

    &__btn {
        margin: 20px 0;
    }

    &__bold {
        font-weight: 700;
        text-align: right;
        margin-right: 10px;
        margin-bottom: 2px;
        display: inline-block;
        width: 86px;
        color: #000;
        font-size: 14px;
    }
    &__normal {
        font-size: 14px;
    }
    &__value {
        color: #000;
        font-size: 14px;
    }
    table {
        padding-bottom: 20px;
    }

    td {
        color: #191919;
        font-size: 14px;
        line-height: 20px;
    }

    .bi-heading__sub {
        margin-bottom: 10px;
    }

    &__details {
        display: flex;
        align-items: center;
        background-color: #ffffff;
        border-bottom: 1px solid #DEE2E6;
    }

    &__left {
        width: 40%;

        p {
            font-size: 14px;
            line-height: 20px;
            padding: 6px;
            color: #191919;
            font-weight: 600;
        }
    }

    &__right {
        width: 60%;
        span {
            font-size: 14px;
        }
        p {
            font-size: 14px;
            line-height: 20px;
            padding: 6px;
            color: #191919;
        }
    }

    &__wrap {
        display: flex;
        justify-content: center;
        padding: 8px;
        margin: 8px;
        gap: 20px;
        padding: 8px 8px 20px;
    }

    &__wrap-white {
        display: flex;
        justify-content: center;
        padding: 10px 8px 10px;
        background-color: #ffffff;
        gap: 20px;
    }

    &__col-10 {
        width: 10%;
        color: #191919;
        p {
            font-size: 14px;
            line-height: 20px;
            color: #191919;
        }
    }

    &__head {
        font-size: 14px;
        line-height: 20px;
        color: #191919;
        font-weight: 600;
    }

    &__sub {
        font-size: 24px;
        line-height: 28px;
        color: #191919;
        font-weight: 600;
        text-transform: unset;
        padding: 10px;
    }

    &__col-20 {
        width: 20%;
        color: #191919;
        p {
            font-size: 14px;
            line-height: 20px;
            color: #191919;
        }
    }

    &__p-head {
        font-size: 24px;
        line-height: 28px;
        color: #191919;
        font-weight: 600;
        padding: 2px 0 10px;
        text-transform: unset;
        p {
            font-size: 24px;
            line-height: 32px;
        }
    }

    .bi-si-tile {
        padding: 10px 0 0;
        display: flex;
        justify-content: flex-start;

        &:last-child {
            border-bottom: 1px solid #00000048;
            padding-bottom: 30px;
        }
    }

    &__outer {
        background-color: #F2F2F2;
    }
    .bi-heading {
        margin-left: 3px;
    }
    .bi-orderdwnld {
    background-color: var(--primary-clr);
    color: #fff;
    text-align: center;
    border: 1px solid var(--primary-clr);
    border-radius: 4px;
    padding: 7px 12px;
    margin-top: 26px;
    float: right;
    transition: 0.3s all;
    &:hover {
        border: 1px solid var(--third-clr);
        background-color: var(--third-clr);
        color: #fff;
        cursor: pointer;
    }
    }

}

@include tablet {
    .bi-order {
        &__outer {
            overflow-x: scroll;
        }
        &__wrap , &__wrap-white {
            min-width: 1240px;
        }
    }
}


@include mobile {
    .bi-order {
        padding: 58px 0;
        &__outer {
            overflow-x: scroll;
        }
        &__wrap , &__wrap-white {
            min-width: 1240px;
        }
        .bi-orderdwnld {
            float: left;
            width: 82%;
            margin-bottom: 20px;
        }
        &__btn {
            .bi-btn {
                width: 82%;
                float: left;
                margin-left: 0;
            }
        }
        &__sub {
            font-size: 15px;
            line-height: 25px;
        }
        &__bold {
            width: 69px;
            margin-right: 8px;
            font-size: 12px;
        }
        &__normal {
            font-size: 12px;
        }
    }
}