.bi-order-summary {
  padding: 32px 0px;
  background: #f6f5f3;

  .bi-heading {
    color: var(--primary-clr);
  }

  &__cnt {
    overflow-x: auto;
    td,b {
      font-family: "Boehringer Forward Text";
    }
  }

  &__w-25 {
    // width: 30%;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      white-space: nowrap;
      margin-right: 4px;
    }
  }

  // table {
  //     width: 100%;

  //     tr:nth-child(odd) {
  //         background-color: #fff;
  //     }

  //     th {
  //         color: #fff;
  //         padding: 10px 24px;
  //         background-color: var(--primary-clr);

  //         &:first-child {
  //             border-top-left-radius: 8px;
  //         }

  //         &:last-child {
  //             border-top-right-radius: 8px;
  //         }
  //     }

  //     td {
  //         padding: 14px 24px;
  //         color: #000;

  //         span {
  //             margin-left: 5px;
  //         }
  //     }
  // }

  &__wrap {
    margin: 25px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &.vn-oswrap {
      flex-wrap: wrap;
      gap: 20px;
    }

    label {
      margin-right: 5px;
      font-size: 18px;
      color: #000;
    }
    select {
      background: #f6f5f3;
      border: 1px solid #8c8481;
      padding: 4px 12px;
      border-radius: 5px;
      width: 170px;
      overflow: hidden;
      text-overflow: ellipsis;
      option {
        white-space: nowrap;
      }
    }
    input {
      padding: 4px 12px;
      border-radius: 5px;
    }
  }

  .bi-btn {
    padding: 6px 25px;
    margin-bottom: 0px;
    border: 1px solid var(--secondary-clr);
    background-color: var(--secondary-clr);

    &:hover {
      border: 1px solid var(--fourth-clr);
      background-color: var(--fourth-clr);
    }
  }

  .bi-btn--reverse {
    padding: 6px 25px;
    border-radius: 4px;
    color: #fff;
    border: 1px solid var(--primary-clr) !important;
    background-color: var(--primary-clr);
    margin-right: 16px;
    &:hover {
      border: 1px solid var(--third-clr) !important;
      background-color: var(--third-clr) !important;
    }
  }
  &__fromtoout {
    display: flex;
    gap: 10px;
  }
  .bi-input {
    display: flex;
    width: calc(33.3% - 12px);
    label {
      width: 33%;
      text-align: right;
    }
    input {
      padding: 0 6px;
      width: 44%;
      border-radius: 4px;
      margin-left: 14px;
    }

    select {
      padding: 0 6px;
      width: 44%;
      border-radius: 4px;
      margin-left: 14px;
    }
    &.center {
      justify-content: center;
    }

    &__wrap {
        margin: 25px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        label {
            margin-right: 5px;
            font-size: 18px;
            color: #000;
        }
        select {
            background: #F6F5F3;
            border: 1px solid #8c8481;
            padding: 4px 12px;
            border-radius: 5px;
            width: 170px;
            overflow: hidden;
            text-overflow: ellipsis;
            option {
                white-space: nowrap;
            }
        }
        input {
            background: var(--secondary-clr);
            border: 1px solid var(--secondary-clr);
            padding: 6px 12px;
            border-radius: 5px;
        }
    }

    .bi-btn {
        padding: 6px 25px;
        margin-bottom: 0px;
        border: 1px solid var(--secondary-clr);
        background-color: var(--secondary-clr);

        &:hover {
            border: 1px solid vARvar(--fourth-clr);
            background-color: vARvar(--fourth-clr);
        }
    }

    .bi-btn--reverse {
        padding: 6px 25px;
        border-radius: 4px;
        color: #fff;
        border: 1px solid var(--primary-clr) !important;
        background-color: var(--primary-clr);
        margin-right: 16px;
        &:hover {
            border: 1px solid var(--third-clr) !important;
            background-color: var(--third-clr) !important;
        }
    }
    &__fromtoout {
        display: flex;
        gap: 10px;
    }
    .bi-input {
        display: flex;
        width: calc(33.3% - 12px);
        label {
            width: 33%;
            text-align: right;
        }
        input {
            padding: 0 6px;
            width: 44%;
            border-radius: 4px;
            margin-left: 14px;
        }

        select {
            padding: 0 6px;
            width: 44%;
            border-radius: 4px;
            margin-left: 14px;
        }
        &.center {
            justify-content: center;
        }
        &.flexend{
            justify-content: flex-end;
        }
    }
    &__dashboardpara {
        font-size: 18px;
        font-weight: 600;
        margin-top: 20px;
        color: var(--primary-clr);
    }
    &__stocksummhead {
        font-size: 24px;
        color: var(--primary-clr);
        margin-bottom: 20px;
    }
    .bi-osdate {
        display: flex;
    }
    .bi-osbtn {
        display: flex;
    }
  }
  &__dashboardpara {
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
    color: var(--primary-clr);
  }
  &__stocksummhead {
    font-size: 24px;
    color: var(--primary-clr);
    margin-bottom: 20px;
  }
  .bi-osdate {
    display: flex;
    justify-content: space-between;
  }
  .bi-osbtn {
    display: flex;
  }
}

@include tablet {
  .bi-order-summary {
    .bi-input {
      label {
        width: 50%;
        font-size: 14px;
      }
    }
    &__wrap {
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;

      select {
        width: 212px;
      }
      // input {
      //   width: 320px;
      // }

    }
  }
}
@include tablet-pro {
  .bi-order-summary {
    .bi-input {
      label {
        width: 40%;
      }
    }
  }
}
@include mobile {
  .bi-order-summary {
    &__wrap {
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;

      select {
        width: 250px;
      }
      input {
        width: 250px;
      }
    }
    .bi-input {
      input {
        width: 60%;
      }

      select {
        width: 60%;
      }
      &.center {
        justify-content: start;
      }
      &.flexend {
        justify-content: flex-start;
      }
    }
    .bi-osdate {
      flex-direction: column;
      gap: 10px;
      width: 100%;
    }
    &__w-25 {
      justify-content: flex-start;
      width: 50%;
      flex-direction: column;
      align-items: flex-start;

      span {
        width: 20%;
      }
    }
  }
}
