.bi-paymentinfo {
    background-color: #022d25;
    width: 100%;
    min-height: 100vh;
    padding: 50px 0px;
    position: relative;

    &__logo {
        width: 180px;

        img {
            width: 100%;
        }
    }

    &__footer {
        position: absolute;
        bottom: 10px;

        p {
            color: #fff;
            font-size: 14px;
        }
    }

    &__infowrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 70vh;
    }

    &__message {
        display: flex;
        color: var(--secondary-clr); 
        font-size: 48px;
        font-weight: 600;
        line-height: 58px;
        flex-wrap: wrap;

        span {
            padding-left: 10px;
            color: #fff;
        }
    }
}

@include mobile {
    .bi-paymentinfo {
        &__message {
            font-size: 26px;
            line-height: 32px;
        }
    }
}