.bi-pdpdtls {
    background-color: #fff;

    &__sechead {
        background-color: #08312A;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 20px;
        border-radius: 10px 10px 0px 0px;
    }

    &__headtxt {
        font-size: 26px;
        color: #fff;
        font-weight: 600;
        text-transform: unset;
    }

    &__drpdwnimg {
        cursor: pointer;
        display: flex;
        align-items: center;
    }

    &__seccontent {
        background-color: #F0F0F0;
        padding: 30px 24px;
        border-radius: 0px 0px 10px 10px;
    }

    &__innerbg {
        background-color: #fff;
        width: 100%;
        padding: 30px;
        border-radius: 5px;

        .bi-heading__sub {
            color: #08312A;
            font-size: 26px;
            font-weight: 500;
            margin: 0;
            padding-bottom: 20px;
        }
    }

    &__shpmntmode {
        padding-bottom: 40px; 

        .bi-pdpdtls__seccontent {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__formgroup {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    &__formlbl {
        font-size: 18px;
        color: #08312a;
        padding-bottom: 8px;
    }

    &__forminput {
        border: 1.15px solid #8C8481;
        width: 100%;
        color: #54565A;
        font-size: 16px;
        border-radius: 5px;
        padding: 8px 16px;
        font-size: 16px;
    }

    &__formdrop {
        border: 1.15px solid #8C8481;
        width: 100%;
        color: #54565A;
        font-size: 16px;
        border-radius: 5px;
        padding: 8px 16px;
        cursor: pointer;
    }

    &__formrow {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        gap: 44px;
        padding-bottom: 16px;
    }

    &__summary {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .bi-btn {
            font-size: 16px;
            color: #08312A;
            margin: 0;
            width: 15%;
        }
    }

    &__tprice {
        font-size: 26px;
        font-weight: 600;
        color: #000;
        display: flex;
        align-items: center;
    }

    &__grntxt {
        font-size: 26px;
        font-weight: 600;
        color: #08312A;
        padding-left: 4px;
    }

    &__varientsec {
        padding-bottom: 40px;
    }

    &__mtxt {
        font-size: 18px;
        font-weight: 400;
        line-height: 21px;
        color: #08312A;
    }
}