.boehringer {
  .bi-wicon {
    cursor: pointer;
    #whishicon,
    #whishicon-red {
      width: 24px;
      height: 21px;
    }
    #whishicon-red {
      display: none;
    }
    &.active {
      #whishicon {
        display: none;
      }
      #whishicon-red {
        display: block;
      }
    }
  }
  .bi-plpnprdct {
    text-align: center;
    color: #000;
    margin-left: 54px;
    position: absolute;
    top: 4px;
  }
  .plp-price {
    p {
      width: auto;
      text-align: center;
    }
  }
}

@include tablet {
  .boehringer {
    .bi-plpnprdct {
      left: 40%;
    }
  }
}

@include mobile {
  .boehringer {
    .bi-plpnprdct {
      margin-left: 6px;
      top: -23px;
    }
  }
}
