.bi-privacy {
    padding: 40px 0px;
    background-color: #F6F5F3;

    .bi-heading {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .bi-heading__sub {
        font-size: 21px;
        line-height: 28px;
        margin-top: 16px;
        margin-bottom: 10px;
    }

    p {
        font-size: 16px;
        line-height: 22px;
        color: #000;
        margin-bottom: 16px;
    }

    ul {
        margin-left: 30px;
        margin-top: 10px;
        margin-bottom: 15px;

        li {
            list-style: disc;
            display: list-item;
            margin-bottom: 5px;
            color: #000000;
        }
    }
    ol {
        margin-left: 30px;
        margin-top: 10px;
        margin-bottom: 15px;
        color: #000000;
        li {
            list-style: number;
            display: list-item;
            margin-bottom: 5px;
            color: #000000; 
        }
    }

    // a[href^="mailto:"] {
    //     color: var(--primary-clr);
    //     position: relative;
    //     &::after {
    //         content: "";
    //         background-color: var(--secondary-clr);
    //         position: absolute;
    //         height: 2px;
    //         bottom: 0;
    //         width: 100%;
    //         left: 0;
    //     }
    //     &:hover {
    //         &::after {
    //             width: 0;
    //         }
    //     }
    // }

    a {
        color: var(--primary-clr);
        position: relative;
        margin-bottom: 2px;
        display: inline-block;
        line-break: anywhere;
        &::after {
            content: "";
            border-bottom: 2px solid var(--secondary-clr);
            position: absolute;
            bottom: 0;
            width: 100%;
            left: 0;
        }
        &:hover {
            &::after {
                width: 0;
            }
        }
    }

    table {
        color: #191919;
        font-size: 14px;
        line-height: 20px;

        tr {
            border-bottom: 1px solid #dee2e6;
            background-color: #fff;
        }

        tr:nth-child(even) {
            background-color: rgb(0 0 0 / 5%);
        }

        th,
        td {
            padding: 8px;
        }

        th {
            font-weight: bold;
        }
    }
}
@include mobile {
    .bi-privacy {
        a {
            text-decoration: underline !important;
            text-decoration-color: var(--secondary-clr) !important;

            &::after {
                border-bottom: 0;
            }
        }
    }
}