.bi-sb {
    background-color: #f6f5f3;
    // padding: 90px 0;
    &__header {
        display: flex;
        padding: 10px 8px 10px;

        gap: 20px;
        justify-content: space-between;
    }

    &__heading {
        font-size: 36px;
        font-weight: 600;
    }

    &__heading2 {
        color: #000000;
        font-size: 28px;
        text-transform: unset;
        margin-top: 20px;
        margin-bottom: 12px;
    }

    &__btn {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;

        a {
            background-color: var(--secondary-clr);
            color: var(--primary-clr);
            width: auto;
            border: 1px solid var(--secondary-clr);
            border-radius: 4px;
            margin-right: 12px;
            padding: 8px 12px;
            margin-top: 20px;
            transition: 0.3s all;
            &:hover {
                background-color: var(--fourth-clr);
                color: var(--primary-clr);
                border: 1px solid var(--fourth-clr);
            }
        }
    }
    // &__remove {
    //     text-align: end;
    //     margin-right: 26%;
    //     font-weight: bold;
    // }
    // &__qty {
    //     float: inline-end;
    // }
}
.bi-sbs {
    padding: 24px 0;
}
.bi-sbshead {
    font-size: 35px !important;
    font-weight: 200 !important;
}