.bi-lang-select {
    padding: 40px 0px;
    width: 100%;
    min-height: 100vh;
    background-color: #022D25;
    position: relative;

    &__logo {
        width: 180px;
        height: auto;

        img {
            width: 100%;
            height: auto;
        }
    }

    &__wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-top: 70px;
    }

    &__cnt {
        

        h1 {
            font-size: 130px;
            line-height: 110px;
            color: #ffffff;
            margin-bottom: 8px;
            font-family: 'Boehringer Forward Head';
            span {
                margin-bottom: 18px;
                display: inline-block;
                font-weight: 600;
            }
        }

        p {
            font-size: 24px;
            line-height: 35px;
            font-weight: 700;
            color: #ffffff;
            margin: 36px 0 60px;
            text-align: left;
        }

        span {
            color: var(--secondary-clr);
            margin-bottom: 4px;
            display: inline-block;
        }

        select {
            width: 48%;
            padding: 8px 16px;
            color: #ffffff;
            border: 2px solid var(--secondary-clr);
            background-color: #022D25;

            option {
                color: var(--primary-clr);
                background-color: #fff;
                border-bottom: 1px solid var(--primary-clr);
                &:hover {
                    background-color: var(--secondary-clr);
                    color: var(--primary-clr);
                }
            }
        }
    }
    &__btn {
        width: 100%;
        display: flex;
        align-items: center;
        margin-top: 15px !important;
        a {
            background-color: var(--secondary-clr);
            color: var(--primary-clr);
            font-size: 22px;
            padding: 8px 12px;
            transition: all 0.2s 0s ease-in;
            text-align: center;
            border-radius: 5px;
            width: 42%;
            &:hover {
                color: var(--primary-clr);
                background-color: var(--fourth-clr);
                transition: all 0.2s 0s ease-in;
            }
        }
        &.width {
            a {
                display: inline-block;
                width: 32%;
                margin-top: 14px;
            }
        }
    }
    .bi-pot__crtxt {
        color: #fff;
        position: absolute;
        bottom: 20px;
    }
}


@include tablet {
    .bi-lang-select {
        &__cnt {
            h1 {
                font-size: 60px;
                line-height: 70px;
            }

            p {
                font-size: 20px;
                line-height: 30px;
            }
            select {
                width: 52%;
            }

        }
    }
}


@include mobile {
    .bi-lang-select {
        &__cnt {
            width: 100%;
            h1 {
                font-size: 40px;
                line-height: 50px;
                span {
                    margin-bottom: 0;
                }
            }

            p {
                font-size: 20px;
                line-height: 30px;
            }

            select {
                width: 100%;
            }
        }
        &__wrap {
            margin-left: 0;
        }
        &__btn {
            a {
                font-size: 16px;
                width: 65%;
            }
            &.width {
                a {
                    width: 50%;
                }
            } 
        }
    }
}