.bi-newmodal {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #F6F5F3;

    &__outer {
        padding: 0px 0px 30px;
        background-color: #F6F5F3;
        width: 100%;
    }

    &__closebtn {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 30px 30px 0px 0px;

        &:hover {
            svg path,
            svg rect,
            svg g {
                stroke: #08312a;
            }
        }
    }

    .bi-heading__sub {
        color: #08312a;
        margin: 0 0 20px;
    }

    &__selectionswrap {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__selectionsa {
        display: flex;
        align-items: center;
        gap: 20px;
        width: 100%;
        .bi-newmodal__fieldgrp {
            width: 50%;
        }
    }

    &__btnwrapa {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 40px;
        padding-top: 20px;
    }

    &__proceedbtn {
        width: 20%;

        .bi-btn {
            margin: 0px;
            width: 100%;
        }
    }

    &__resetbtn {
        width: 20%;

        .bi-btn {
            width: 20%;
            margin: 0px;
            width: 100%;
        }
    }

    &__dtlstable {
        padding: 30px 0px;

        .bi-tbl__scroll {
            max-width: 100%;
        }

        .bi-qdhd {
            font-size: 16px !important;
        }

        .bi-shiptxt {
            font-size: 16px !important;
        }

        .bi-tbl {
            th,td {
                font-size: 14px !important;
            }
        }
    }

    &__fieldgrp {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;

        table:has(input:disabled) {
            opacity: 0.4;
        }
    }

    &__selectionsinfo {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 20px;
    }

    &__stockwrap {
        width: 50%;
    }

    &__deliverywrap {
        width: 50%;
    }

    &__stockinfo {
        width: 50%;
        display: flex;
        align-items: center;
    }

    &__stockstatus {
        font-size: 16px;
        color: #08312a;
    }

    &__stockbal {
        font-size: 16px;
        color: #000;
    }

    &__deliveryspan {
        font-size: 16px;
        color: #000;
        padding-left: 6px;
    }

    &__deliveryinfo {
        display: flex;
        align-items: center;
        width: 50%;
    }

    &__drpdwn {
        width: 100%;
        border: 1px solid #a6a6a6;
        padding: 8px 16px;
        color: #666666;
        font-size: 16px;
        border-radius: 5px;
        background-color: #f6f5f3;
        cursor: pointer;

        &:disabled {
            opacity: 0.4;
        }
    }

    &__fieldinput {
        width: 100%;
        border: 1px solid #a6a6a6;
        padding: 8px 16px;
        color: #666666;
        font-size: 16px;
        border-radius: 5px;
        background-color: #f6f5f3;

        td {
            background-color: #f6f5f3 !important;
        }

        td input {
            background-color: #f6f5f3 !important;
        }

        input:disabled {
            opacity: 0.4;
        }
    }


    &__fieldlabel {
        font-size: 16px;
        color: #08312a;
        padding-bottom: 8px;
    }

    &__detailsbtn {
        width: 45%;
        display: flex;
        justify-content: flex-end;

        .bi-btn {
            width: 20%;
            font-size: 16px;
        }
    }

    &__wrap {
        width: 100%;
        display: flex;
        gap: 50px;
        margin-bottom: 15px;
    }

    &__left {
        width: 60%;
    }

    &__right {
        width: 40%;
    }

    &__itmdetailscard {
        width: 100%;
        background-color: #fff;
        border-radius: 12px;
        padding: 5px 20px;
        margin: 20px 0px;
    }

    &__itmdetails {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0;
        border-bottom: 1px solid #a6a6a6;

        &:last-child {
            border-bottom: none;
        }
    }

    &__itmdetailslabel {
        font-size: 16px;
        color: #000;
        font-weight: 600;
    }

    &__itmdetailsvalue {
        color: #08312a;
        font-size: 16px;
        font-weight: 600;
    }

    &__itmdetailsbtn {
        width: 100%;
        padding: 15px 0;

         .bi-btn {
            width: 100%;
            margin: 0;
         }
    }

    &__table {
        img {
            width: 100%;
        }

        svg circle {
            transition: fill 0.3s ease;
        }
        
        svg:hover circle {
            fill: #ff0000; 
        }
    }

    &__crtbtn {
        padding-top: 20px;
        display: flex;
        justify-content: flex-end;

        .bi-btn {
            width: 15%;
            font-size: 16px;
        }
    }

    &__table {
        width: 100%;
    }

    &__pdtwrap {
        .ab-cart {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    
}


@include tablet-pro {
    .bi-newmodal {

        &__left {
            width: 55%;
        }

        &__right {
            width: 45%;
        }
    }
}

@include tablet {
    .bi-newmodal {
        &__outer {
            padding: 20px;
        }

        &__crtbtn {
            .bi-btn {
                width: 25%;
            }
        }

        &__proceedbtn {
            .bi-btn {
                font-size: 14px;
            }
        }

        &__stockstatus {
            font-size: 14px;
        }

        &__stockbal {
            font-size: 14px;
        }
    }
}

@include mobile {
    .bi-newmodal {

        &__outer {
            padding: 20px 0px;
        }

        &__left {
            width: 100%;
        }

        &__right {
            width: 100%;
        }

        &__wrap {
            flex-direction: column;
            gap: 0;
        }

        &__stockwrap {
            width: 100%;
        }

        &__deliverywrap {
            width: 100%;
        }

        &__selectionswrap {
            padding-top: 30px;
        }

        &__selectionsb {
            flex-direction: column;
        }

        &__fieldinput {
            font-size: 14px;
        }
    
        &__fieldlabel {
            font-size: 14px;
        }

        &__deliveryspan {
            font-size: 14px;
        }

        &__stockstatus {
            font-size: 14px;
        }

        &__stockbal {
            font-size: 14px;
        }

        &__crtbtn {
            .bi-btn {
                width: 45%;
                font-size: 14px;
            }
        }

        &__detailsbtn {
            .bi-btn {
                width: 50%;
                font-size: 14px;
            }
        }

        &__detailswrap {
            flex-direction: column;
            align-items: flex-start;
            padding: 15px 0px;
            gap: 10px;
        }

        &__detailsbtn {
            justify-content: flex-start;

            .bi-btn {
                margin-left: 0;
            }
        }

        &__crtbtn {
            justify-content: flex-start;
            padding: 20px;

            .bi-btn {
                margin-left: 0;
                width: 100%;
            }
        }

        .bi-heading__sub {
            margin: 10px 0px 20px;
            font-size: 24px;
        }

        &__pdtwrap {
            .ab-cart {
                &.desk-visible {
                    display: none !important;
                }
            }
        }

        &__proceedbtn {
            width: 30%;
        }

        &__resetbtn {
            width: 30%;
        }
    }
}