.bi-pref {
  &__outer {
    position: relative;
    padding: 50px 0px;
    width: 100%;
    min-height: 100vh;
    background-color: #022d25;
    overflow: auto;

    .bi-center {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      height: 75vh;
    }
    
    .bi-pot__crtxt {
      color: #fff;
      padding-top: 100px;
    }
    .modal-show {
      position: absolute;
      top: 0;
      left: 3%;
      right: 3%;
    }
    .modal-dialog {
      max-width: 630px !important;
      margin-top: 0;
    }
    .modal-backdrop {
      z-index: unset !important;
      background-color: rgba(0, 0, 0, 0.6);
    }
  }

  &__head {
    font-size: 38px;
    line-height: 48px;
    color: #fff;
    margin-top: 32px;
    font-family: "Boehringer Forward Head";

    span {
      color: var(--secondary-clr);
    }

    &.txtfont {
      font-size: 52px;
      line-height: 62px;
    }
  }

  &__whitehead {
    font-size: 44px;
    line-height: 54px;
    font-weight: 700;
    color: #fff;
    margin-top: 80px;
    font-family: "Boehringer Forward Head";
    span {
      color: var(--secondary-clr);
  }
  }

  &__newhead {
    font-size: 48px;
    line-height: 58px;
    color: #fff;
    margin-top: 44px;
    font-weight: 600;
    span {
      color: var(--secondary-clr);
      display: inline-block;
      margin-bottom: 8px;
    }
  }

  &__subhead {
    font-size: 22px;
    line-height: 28px;
    font-weight: 700;
    color: #ffffff;
    margin: 18px 0 48px;
    text-align: left;

    span {
      color: var(--secondary-clr);
      display: inline-block;
      margin-bottom: 4px;
    }

    &.normal {
      font-weight: normal;
      margin: 30px 0;
    }
  }

  &__btn {
    display: inline-flex;
    // justify-content: center;
    align-items: center;
    background-color: var(--secondary-clr);
    color: var(--primary-clr);
    font-size: 18px;
    padding: 8px 24px;
    transition: all 0.2s 0s ease-in;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 26px;
    position: relative;

    &:hover {
      color: var(--primary-clr);
      background-color: var(--fourth-clr);
      transition: all 0.2s 0s ease-in;
    }

    img {
      width: 30px;
      height: 30px;
      margin-right: 12px;
    }

    img.width60 {
      width: 60px;
    }

    span {
      font-weight: 600;
    }

    &.width20 {
      width: auto;
    }
    &.sp {
      width: 60%;
    }
    .bi-spangle {
      position: absolute;
      right: 18px;
      width: 12px;
      float: right;
      height: auto;
    }
  }

  &__crtxt {
    color: #fff;
    position: absolute;
    bottom: 10px;
  }
  // &__dfcol {
  //    display: flex;
  //    flex-direction: column;
  //    width: 50%;
  // }
}

@include tablet-pro {
  .bi-pref {
    &__head {
      font-size: 50px;
      line-height: 60px;
    }

    &__btn {
      width: 72%;
      font-size: 22px;
      &.sp {
        width: 100%;
      }
      &.width20 {
        width: 30%;
      }
    }
  }
}

@include tablet {
  .bi-pref {
    &__head {
      font-size: 50px;
      line-height: 60px;
    }

    &__btn {
      width: 90%;
      font-size: 18px;
      &.sp {
        width: 100%;
        font-size: 18px;
      }
      &.width20 {
        width: 40%;
      }
    }
  }
}

@include mobile {
  .bi-pref {
    &__head {
      font-size: 50px;
      line-height: 60px;
      margin-top: 30px;
    }
    &__newhead {
      font-size: 24px;
      line-height: 32px;
    }

    &__subhead {
      font-size: 20px;
      line-height: 26px;
    }

    &__btn {
      width: 100%;
      font-size: 12px !important;
      padding: 10px 6px;
      &.sp {
        width: 100%;
        font-size: 18px;
      }
      img {
        width: 20px;
        margin-right: 4px;
      }

      &.width20 {
        width: 50%;
      }
    }
  }
}
