.bi-input {
    margin-bottom: 16px;

    label {
        margin-bottom: 5px;
        font-family: 'Boehringer Forward Text';
        color: var(--primary-clr);
        font-size: 14px;
        
        sup {
            position: relative;
            top: 0;
            right: 0;
        }
    }
    input,
    select {
        width: 100%;
        border: 1px solid #cccccc;
        font-size: 1rem;
        border-radius: 4px;
        margin-top: 10px;
        &:focus {
            border: 1px solid #022D25;
        }
    }

    select {
        padding: 10px 7px;
    }

    input {
    padding: 5px 10px;
    height: 40px;
        &::placeholder {
            font-size: 13px;
        }
    }
}

.bi-input.error {
    input {
        color: #FF5B5B;
    }
}


@include mobile {
    .bi-input {
        width: 100%;
    }
}