.boehringer {
    .menu-bar .cx-btn-prfl {
        transform: translateY(-8px);
    }

    .bi-footer__links {
        font-size: 14px;
    }

    .bi-footer__head {
        font-size: 26px;
    }

    .bh-heading {
        font-family: 'Boehringer Forward Text Md';
        font-weight: 500;
    }

    .menu-bar {
        .lang {
            margin-bottom: 0;
        }

        .account-search .dropdown .dropdown-menu {
            top: 46px;
            left: 9px !important;
            right: 0 !important;
        }
    }

    .bh-button {
        padding: 6px 10px;
        border: 1px solid var(--secondary-clr);
    }

    .sec-menu {
        width: 78%;
    }

    .bi-footer__head {
        color: #fff;
        font-family: 'Boehringer Forward Text';
        font-weight: 500;
    }

    //order history 
    .container.inner-marging {
        background-color: #F8F9FA;
    }

    .tab-content {
        table {
            background-color: transparent;

            tr>&:first-child {
                border-bottom: 1px solid #000;
            }

            tr {
                height: 40px;

                &:nth-child(odd) {
                    background-color: white;
                }

                &:nth-child(even) {
                    background-color: #F6F5F3;
                }

                td {
                    background-color: transparent;
                    border: 0;
                    vertical-align: middle;

                    &:nth-child(even) {
                        a {
                            background-color: var(--secondary-clr);
                            border-color: var(--secondary-clr);
                            color: var(--primary-clr);
                            text-transform: None;
                            padding: 4px 8px;
                            border-radius: 5px;
                            font-weight: 400;
                        }
                    }
                }
            }
        }
    }

    // PLP 
    .bi-plp {
        .ListingCol {
            display: flex;
            justify-content: flex-end;
        }

        .book-name-and-buy {
            padding: 0px 10px 16px 10px;
        }

        .product-name a {
            text-transform: unset;
            font-size: 14px;
        }
    }

    //PDP
    .ab-details {
        min-width: 1000px;
    }

    .cx-tbout {
        overflow-x: scroll;
        position: relative;
    }

    &__scroll-move {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: red;
    }

    .owl-item.active {
        width: 265px !important;
        height: 265px !important;
    }

    .bi-plp .product img {
        width: 100%;
    }

    // product 

    .bh-prodcut {
        .slick-dots {
            display: flex;
            justify-content: flex-end;
            bottom: -8%;
            right: 0;
        }

        .slick-dots li button {
            border: 2px solid var(--primary-clr);
            content: "";
            opacity: 1;
            border-radius: 50%;
            width: 16px;
            height: 16px;
        }

        .slick-dots li button:before {
            content: "";
        }

        .slick-dots li {
            margin: 0 2px;
        }

        .slick-active {
            button {
                background-color: var(--secondary-clr);
            }
        }

        .slick-next,
        .slick-prev {
            display: none !important;
        }
    }

    // header 

    .search .form-inline {
        margin-left: auto;
        position: relative;
        margin-right: 32px;
    }

    .my-lg-8 a {
        right: 5%;
        top: 6px;
        width: 20px;
        height: 20px;

        &:hover {
            background-color: transparent;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }

    .lang {
        width: auto;
    }

    .bi-treeicon {
        span.number {
            width: 35px !important;
            height: 16px !important;
            color: #191919 !important;
            left: 13px;
            top: -28px !important;
            font-weight: 600;
            border-radius: 20px !important;
        }
    }



    #header .navbar {
        padding-right: 32px;
        padding-left: 0;
        .dropdown-menu {
            min-width: max-content;

            .dropdown-item {
                padding: 10px !important;
            }
        }
    }

    @media (max-width: 1397px) {
        .sec-menu ul {
            justify-content: space-between;
        }
    }

    // contact us 
    @media (min-width: 2048px) and (max-width: 6144px) {
        .bi-contact-us {
            min-height: 80vh;
        }
        .bi-odrouter {
            min-height: 80vh;
        }
        .bi-pot .bi-besthnks {
            min-height: 80vh;
        }
        .bi-pdp {
            min-height: 80vh;
        }
        .bi-plp {
            min-height: 80vh;
        }
        .bi-order {
            min-height: 80vh;
        }
        .bi-emptycart__outer {
            min-height: 80vh;
        }
        .bi-instreporting {
            min-height: 80vh;
        }
        .bi-oicat {
            min-height: 80vh;
        }
        .bi-order-summary {
            min-height: 80vh;
        }
        .bi-returns {
            min-height: 80vh;
        }
        .bi-bespoke {
            min-height: 80vh;
        }
        .bi-returns {
            min-height: 80vh;
        }
        .bi-sustainability {
            min-height: 80vh;
        }
        .bi-sitemap {
            min-height: 80vh;
        }
        .cx-checkout {
            min-height: 80vh;
        }
        .bi-user-details {
            min-height: 80vh;
        }
        .bi-agency1 {
            min-height: 100vh;
        }
    }

    @media (min-width: 1690px) and (max-width: 2047px) {
        .bi-contact-us {
            min-height: 35vh;
        }
        .bi-odrouter {
            min-height: 35vh;
        }
        .bi-agency1 {
            min-height: 35vh;
        }
    }

    // header 


    @include tablet-pro {
        .search .form-inline {
            margin-left: auto !important;
            margin-right: 24px;
        }
    }

    @include tablet {
        .search .form-inline {
            margin: 0;
        }
    }

    @include mobile {
        .search .form-inline {
            margin-right: 0;
        }

        .menu-bar .lang {
            margin-bottom: 10px;
        }

        .menu-bar .cx-btn-prfl {
            transform: none;
        }
    }
   }


   @include mobile {
    // PLP 
    .bi-plp {
        .ListingCol {
            justify-content: center;
        }
    }
    .boehringer .bi-plp .product img {
        width: 80%;
    }
   }
