.boehringer {

    // shopping cart -tablet-pro

    @include tablet-pro {
        .bi-shpcarttitle {
            &__a {
                width: 30%;
            }

            &__b, &__c {
                width: 17.5%;
            }
            &__d {
                width: 25%;
            }
        }

        .cx-shpcartpdt {
            &__wrap {
                width: 30%;
                flex-direction: column;
                padding-left: 15px;
            }

            &__quantityouter {
                width: 17.5%;
            }
            &__price {
                width: 25%;
            }
        }

        .bi-buttonswrap {
            .bi-ordrsumry__btn {
                width: 100%;
                white-space: nowrap;
            }

            .cx-ordrsumry__btn {
                white-space: nowrap;
                padding: 10px;
            }
        }

        .bi-newflex {
            .cx-ordrsumry__btn {
                width: 100%;
            }

            .bi-w40 {
                width: 60%;
            }
        }
    }

    // Checkout Section

    @include tablet-pro {
        .cx-checkout {
            &__head {
                font-size: 22px;
            }

            &__heading {
                font-size: 28px;
            }
        }
    }


    // PLP page filter section

    @include tablet {
        .bi-plp {
            #filter-expand-mbl {
                top: 10px;
            }

            .margin-lr-cut {
                padding-top: 0;
            }

            .left-box.filter-mbl {
                width: 250px;
                padding-right: 25px;
                max-height: 644px;
                min-height: auto;
                overflow-y: auto;
                scroll-behavior: smooth;
                cursor: pointer;
            }

            .bi-bgclr {
                .top-row {
                    flex-direction: column;
                }
            }
        }
    }

     // shopping cart

     @include tablet {
        .cx-shpcart {
            overflow-x: auto;

            &__outer {
                min-width: 700px;
            }
        }

        .cx-shpcart::-webkit-scrollbar {
           height: 4px;
        }

        .cx-shpcart::-webkit-scrollbar-thumb{
            border-radius: 10px;
            background-color: var(--primary-clr);
         }

         .cx-shpcart::-webkit-scrollbar-track {
            background: none;
        }

        .cx-shpcartpdt {
            &__wrap {
                flex-direction: column;
                width: 20%;
            }

            &__price, &__quantityouter, &__delete {
                width: 20%;
            }

            &__details {
                margin: 5px 0px 10px 20px;
            }
        }

        .bi-shpcarttitle {
            &__a, &__c, &__e {
                width: 20%;
            }
        }

        .cx-ordrsumry {
            .bi-radiolbl label {
                padding-right: 15px;
            }
           
            .cx-ordrsumry__btn {
                font-size: 14px;
            }

            .cx-ordrsumry__head {
                font-size: 24px;
            }
            
        }

        .cx-shpingcart {
            &__head {
                font-size: 36px;
            }

            &__left {
                width: 60%;
            }

            &__right {
                width: 40%;
            }
        }
    }

    // PLP page filter section
    @include mobile {
        .bi-plp {
            .bi-bgclr {
                .left-box.filter-mbl {
                    max-height: 400px;
                    width: 100%;
                    border: 0;
                    padding: 0 20px;
        
                }
            }
    
            .fa {
                padding-left: 4px;
            }
        }
    }

    // shopping cart

    @include mobile {

        .cx-shpcart {
            overflow-x: scroll;
            min-height: 260px;

            &__outer {
                min-width: 580px;
            }
        }

        .bi-shpcarttitle {
            &__a {
                width: 30%;
                font-size: 16px;
            }

            &__b, &__c, &__d, &__e {
                width: 17.5%;
                font-size: 16px;
            }
        }

        .cx-shpcartpdt {
            &__wrap {
                width: 30%;
                padding-left: 10px;
            }

            &__price, &__quantityouter, &__delete {
                width: 12.5%;
            }
        }

        .bi-newflex {
            .bi-w40 {
                width: 100%;
            }

            .cx-ordrsumry__btn {
                white-space: nowrap;
                font-size: 14px;
                padding: 10px;
            }

            .bi-sbhead {
                font-size: 16px;
            }

        }

        .bi-buttonswrap {
            .bi-buttons {

                .bi-ordrsumry__btn {
                    font-size: 14px;
                }

                .cx-ordrsumry__btn {
                    font-size: 14px;
                }
            }
        }

        .bi-ordersumrywrap {
            .cx-ordrsumry__item label{
                font-size: 16px;
            }

            .cx-ordrsumry__item {
                .label {
                    font-size: 14px;
                }

                &.total {
                    .label {
                        font-size: 16px !important;
                        font-weight: 600;
                    }  
                }
            }

            .cx-ordrsumry__btn {
                font-size: 14px;
            }

            .bi-note {
                font-size: 14px;
            }
        }
    }


    // checkout section
    
    @include mobile {
        .cx-checkout {

            &__heading {
                font-size: 24px;
                margin: 10px 0px 15px 0px;
            }

            &__head {
                font-size: 22px;
            }

            &__right {
                margin-bottom: 0;

                .cx-odrsmry__head {
                    font-size: 24px;
                }

                .bi-note {
                    font-size: 14px;
                }
            }

            &__group {

                label {
                    font-size: 16px;
                }

                input {
                    font-size: 14px;
                }
            }
        }
    }


    // Reporting page

    .bi-instreporting {
        &__card {
            .bi-btn {
                font-size: 16px;
            }
        }
    }

    @include tablet-pro {
        .bi-instreporting {
            &__card {
                .bi-btn {
                    font-size: 14px;
                }
            }
        }
    }

    @include tablet {
        .bi-instreporting {
            &__card {
                .bi-btn {
                    font-size: 14px;
                }
            }
        }
    }

    @include mobile {
        .bi-instreporting {
            &__card {
                .bi-btn {
                    font-size: 14px;
                }
            }
        }
    }

    // Basket

    .bi-order {
        .bi-sb__btn {
            .cx-cancel--no {
                padding: 7px 12px !important;
            }
        }

        .pb-3 {
            span {
                color: var(--primary-clr);
            }
        }
    }

    // agencyform

    .bi-agencyform {
        .bi-input {
            .bi-input__error {
                font-size: 14px;
                color: #ff0000;
                font-weight: 100;
            }
        }
    }

    // plp

    .bi-plp {

        .filter-pricewrap {
            display: flex;
            align-items: center;
            margin: 12px 0px 6px 0;
        }

        .filter-pricewrapb {
            flex-direction: column;
            align-items: flex-start;

            .filter-pricerange {
                padding-left: 0;
                padding-bottom: 10px;
            }
        }

        .filter-pricerange {
            font-size: 12px;
            padding-left: 6px;
        }
    }

    // order

    .bi-odrouter {
        .bi-btn {
            font-weight: 300;
        }
    }

    // to be applied fully
    .bi-input {
        .bi-input__error {
            font-size: 14px;
            color: #ff0000;
            font-weight: 100;
        }
    }

    // apply credit: https://boehringer.strat-staging.com/CreditApplicationStart.aspx

    .bi-apply_credit {
        .bi-pref {

            &__subhead {
                font-size: 24px;
                line-height: 30px;
            }

            &__outer {
                ul li {
                    font-size: 20px;
                }

                ul p {
                    font-size: 16px;
                    line-height: 22px;
                    width: 90%;
                }
            }

            &__btn {
                font-size: 16px;
            }

            .bi-agency1__para {
                font-size: 16px;
            }
        }
    }
}

// thankyou: https://boehringer.strat-staging.com/AgencyUserThanks.aspx

.bi-pref__outer {

    .bi-agency1__para {
        font-size: 18px;
    }

    .bi-pref__whitehead {
        width: 85%;
        font-size: 36px;
    }

    .bi-pref__subhead {
        &.normal {
            font-size: 18px;
        }
    }

    .bi-pref__btn {
        font-size: 16px;
    }
    .select-menu {
        width: 42%;
    }
}

// footer links

@include tablet {
    .boehringer .bi-footer {
        .bi-footer__links {
            font-size: 13px;
        }
    }

    // checkout thanking page
    .bi-pot {
        &__content {
            font-size: 48px;
        }
    }
}

.boehringer {

    // order summary

    .bi-order-summary {
        .bi-order-inputwrap {
            display: flex;
        }
    }

    @include tablet {

        .bi-order-summary__w-25 {
            width: 45%;
        }

        .bi-order-summary__w-25 span {
            width: 45%;
        }

        .bi-order-inputwrap {
            input {
                margin-left: 0;
            }
        }
    }

    // https://uat.collection.boehringer-ingelheim.com/igc/en/cart
    // cart page modal issue

    @include mobile {
        .modal-dialog {
            margin: 14% 10px 10px 10px;
        }
        .bi-pref__outer {
            .bi-pref__whitehead {
                width: 85%;
                font-size: 26px;
                line-height: 34px;
            }
        }
    }


    // https://uat.collection.boehringer-ingelheim.com/igc/en/Sustainability
    // Sustainable Credentials

    @include mobile {
        .bi-sustainability__col-one {
            border-bottom: unset;
            padding: 5px 0 0;
        }

        .bi-sustainability__col-two {
            padding: 0px 0px 5px;
        }
        .bi-pref__outer  {
            .bi-pref__whitehead {              
                font-size: 48px;
                line-height: 58px;
            }
        }
        }

    // https://uat.collection.boehringer-ingelheim.com/igc/en/Search
    @include mobile {
        .cx-pf {
            background-color: #f6f5f3;
        }
    }

    // https://uat.collection.boehringer-ingelheim.com/igc/en/Bespoke

    @include mobile {
        .bi-bespoke {
            .bi-bespoke__newform .br-none input {
                border-radius: unset;
                padding: 0px 20px !important;
            }
        }

        .bi-date input {
            width: 150px;
        }
        
    }

    .bi-bespoke {
        .bi-bespoke__newform .br-none input {
            border-radius: unset;
            padding: 0px 20px !important;
        }
    }

    @include mobile {
        .bi-instreporting {
            &__container {
                padding-left: 0;
            }
        }
    }

    // https://uat.collection.boehringer-ingelheim.com/igc/en/order-history 
    @include mobile {
        .bi-odrouter {

            .bi-sbsearch {
                display: flex;
                flex-direction: column;

                span {
                    font-size: 14px;
                    padding-bottom: 4px;
                }

                input {
                    padding: 5px 8px;
                }
            }

            .bi-sbout {
                align-items: flex-start;
                flex-direction: column-reverse;
            }

            .bi-sbselect {
                display: flex;
                flex-direction: column;

                span {
                    font-size: 14px;
                    padding-bottom: 4px;
                }

                select {
                    padding: 4px 20px;
                    width: 180px;
                }
            }
        }
    }

}

// 11-04-25
.boehringer {
    .bi-tbl {
        .bi-tbl__scrolltbl {
            table-layout: fixed;
            max-width: 100%;

            th,
            td {
                min-width: 90px;
            }
        }
    }

    .bi-cart {
        .bi-shpcarttitle {
            .bi-shpcarttitle__e {
                padding-right: 20px;
            }
        }
    }
}

// 07-05-2025
.bi-tree.ethos.ethos-jap {
     .bi-tree__onehead {
        font-size: 67px;
        line-height: 95px;
        span {
            margin-bottom: 12px;
        }
    }
}

@include tablet-pro {
    .bi-tree.ethos.ethos-jap {
        .bi-tree__onehead {
           font-size: 42px;
           line-height: 62px;
           span {
            margin-bottom: 0;
        }
       }
   }
}

@include tablet {
    .bi-tree.ethos.ethos-jap {
        .bi-tree__onehead {
           font-size: 40px;
           line-height: 60px;
           span {
            margin-bottom: 0;
        }
       }
   }
}

@include mobile {
    .bi-tree.ethos.ethos-jap {
        .bi-tree__onehead {
           font-size: 43px;
           line-height: 60px;
           span {
            margin-bottom: 0;
        }
       }
   }
}

// 17-05-25
.bi-pdp {
    .bi-pdplft {
            text-align: center;
            background-color: #f8f9fa;
        .bi-btn {
            width: 65%;
            border-radius: 5px;
            margin-left: 0;
            margin-bottom: 0;
        }
    }
}

// 21-05-25
// https://uat.collection.boehringer-ingelheim.com/igc/en/BundleDetails/top
// bundledetails-page

.bi-bndladdvariant {
    background-color: #F8F9FA;

     .bi-bndlfieldwrap {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 25px;

        .bi-newmodal__fieldgrp {
            width: 50%;
        }
     }

     .bi-newmodal__itmdetailsbtn .bi-btn {
        width: 20%;
        margin: 15px 0px;
    }

    .bi-addqntybtn {
        width: 100%;
        display: flex;
        justify-content: center; 

        .btn-grey {
            margin-left: 0;
        }
    }
}

